

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('AtlasGrotesk-Light-Web.eot');
  src: url('AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
     url('AtlasGrotesk-Light-Web.woff') format('woff'),
     url('AtlasGrotesk-Light-Web.ttf') format('truetype'),
     url('AtlasGrotesk-Light-Web.svg#AtlasGrotesk-Light') format('svg');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Light-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('AtlasGrotesk-Regular-Web.eot');
  src: url('AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
     url('AtlasGrotesk-Regular-Web.woff') format('woff'),
     url('AtlasGrotesk-Regular-Web.ttf') format('truetype'),
     url('AtlasGrotesk-Regular-Web.svg#AtlasGrotesk-Regular') format('svg');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('AtlasGrotesk-Black-Web.eot');
  src: url('AtlasGrotesk-Black-Web.eot?#iefix') format('embedded-opentype'),
     url('AtlasGrotesk-Black-Web.woff') format('woff'),
     url('AtlasGrotesk-Black-Web.ttf') format('truetype'),
     url('AtlasGrotesk-Black-Web.svg#AtlasGrotesk-Black') format('svg');
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Black-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
}

